<mat-toolbar class="flex justify-start">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Open menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/inicio">
      <mat-icon>home</mat-icon>
      Inicio
    </button>
    <button mat-menu-item routerLink="/contacto">
      <mat-icon>mail</mat-icon>
      Contacto
    </button>
  </mat-menu>

  <span class="text-2xl ml-2 p-2 border-dotted border-2 border-red-300">The Holy Wine <mat-icon class="text-red-500 text-2xl">wine_bar</mat-icon></span>


  <span class="example-spacer"></span>

</mat-toolbar>
