<mat-toolbar class="flex justify-start h-36">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Open menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/inicio">
      <mat-icon>home</mat-icon>
      Inicio
    </button>

    <button mat-menu-item routerLink="/variedad">
      <mat-icon>home</mat-icon>
      Variadades de Uva
    </button>

    <button mat-menu-item routerLink="/catalogo">
      <mat-icon>menu_book</mat-icon>
      Catálogo
    </button>
    <button mat-menu-item routerLink="/contacto">
      <mat-icon>mail</mat-icon>
      Contacto
    </button>
  </mat-menu>



  <span class="example-spacer">
    <img src="image.png" class="w-20 items-center logo">
  </span>

</mat-toolbar>
