<div class="absolute w-full mb-5 ">
  <img
    src="https://img.freepik.com/foto-gratis/alto-angulo-surtido-articulos-rosas-dia-san-valentin_23-2149164876.jpg?t=st=1734803164~exp=1734806764~hmac=b874fd24a80aaafce9f01e8732d7a67655295c811656996b0ee4b084835dbac7&w=826"
    class="w-full h-72 object-cover opacity-70">
</div>

<div class="relative flex flex-row justify-center justify-items-center w-10/12 m-auto ">
  <img src="marron.png" class="w-60 h-60 object-contain ">
</div>
<app-newsletter></app-newsletter>

<div class="grid grid-cols-2 md:grid-cols-4 gap-6 lg:px-32 md:px-14  px-4 mb-10">
  <div class="grid gap-3">
      <div>
          <img class="h-auto md:max-w-40 lg:max-w-52 rounded-lg" src="https://img.freepik.com/foto-gratis/tazas-vintage-arreglo-tienda-segunda-mano_23-2150269084.jpg?t=st=1734804845~exp=1734808445~hmac=d38d1919813073a89e5b344813d934e5a5b4f6c369f626aeb65f7427980b7491&w=360" alt="">
      </div>
      <div>
          <img class="h-auto md:max-w-40 lg:max-w-52 rounded-lg" src="https://img.freepik.com/foto-gratis/sirva-vidrio-relleno-vino-botella-cerca-mujer-alegre-cocina_23-2148024623.jpg?t=st=1734804375~exp=1734807975~hmac=6b2d65f92eabefadc84416dcf01c6988182cb8cd2cdb2d75b17867a4e3523469&w=826" alt="">
      </div>
      <div>
          <img class="h-auto md:max-w-40 lg:max-w-52 rounded-lg" src="https://img.freepik.com/foto-gratis/vista-superior-deliciosas-paletas-taza-frasco-fresas_23-2148763616.jpg?uid=R128113173&ga=GA1.1.911909887.1729527996&semt=ais_hybrid" alt="">
      </div>
  </div>
  <div class="grid gap-4">
      <div>
          <img class="h-auto md:max-w-40  lg:max-w-52 rounded-lg" src="https://img.freepik.com/foto-gratis/copas-vino-delicioso-alcohol-bebida-espacio-texto_185193-108879.jpg?t=st=1734805133~exp=1734808733~hmac=03bff0bb87a37510f1b6a434113e83aea93a533321f484ff1469b22362e003ac&w=826" alt="">
      </div>
      <div>
          <img class="h-auto md:max-w-40 lg:max-w-52 rounded-lg" src="https://img.freepik.com/foto-gratis/bodegon-jarra-vino-mesa_23-2149631745.jpg?t=st=1734804758~exp=1734808358~hmac=2442e1f1d1e8fb945e687a1b8ed2e502151af98829a3db15c5d504c2887822b5&w=360" alt="">
      </div>
      <div>
          <img class="h-auto md:max-w-40 lg:max-w-52 rounded-lg" src="https://img.freepik.com/foto-gratis/pareja-tomando-bano-dia-san-valentin_23-2148383209.jpg?t=st=1734804535~exp=1734808135~hmac=8897918aa9fb745513c4ebd90dfd3fd4e26953d1b00485705c6a36979a73d17f&w=826" alt="">
      </div>
  </div>

  <div class="w-96">
    <h2 class="text-2xl font-semibold tracking-tight text-pantone-17-mocha p-1">Ponte en contacto con nosotros</h2>
    <p class="mt-4 text-lg text-gray-500 p-1">Envianos tus preguntas o dudas, responderemos lo más breve posible</p>
    <div class="mt-6 flex flex-col max-w-md gap-3">
      <label for="name" class="sr-only">Su nombre</label>
      <input id="name" name="name" type="text" autocomplete="none" required class="border border-stone-800 min-w-0 bg-slate-200 flex-auto rounded-md bg-white/5 px-3.5 py-2 text-base text-gray-800 outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" placeholder="Escriba su nombre">
      <label for="email-address" class="sr-only">Email address</label>
      <input id="email-address" name="email" type="email" autocomplete="email" required class="border border-stone-800 min-w-0 bg-slate-200 flex-auto rounded-md bg-white/5 px-3.5 py-2 text-base text-gray-800 outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" placeholder="Escriba su email">
      <label for="message" class="block mb-2 text-sm font-medium text-gray-900 ">Escribe tu mensaje</label>
      <textarea id="message" rows="4" class="border border-stone-800 min-w-0 bg-slate-200 flex-auto rounded-md bg-white/5 px-3.5 py-2 text-base text-gray-800 outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" placeholder="Escribe aqui..."></textarea>

      <button type="submit" class="flex-none rounded-md bg-pantone-17-mocha-willow px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Enviar</button>
    </div>
  </div>
</div>









<app-footer></app-footer>
