<div class="absolute w-full mb-5 ">
  <img
    src="https://img.freepik.com/foto-gratis/cerrar-vista-uvas-negras-canasta_114579-39088.jpg?t=st=1733937029~exp=1733940629~hmac=46fd610327978286ef4630df861ed5aa14d352bd26592a95facb8c7ea606e3fa&w=826"
    class="w-full h-72 object-cover opacity-40">
</div>

<div class="relative flex flex-row justify-center justify-items-center w-10/12 m-auto ">
  <img src="image.png" class="w-60 h-60 object-contain ">
</div>
<app-newsletter></app-newsletter>

<div class="grid grid-cols-2 md:grid-cols-4 gap-3 lg:px-24 md:px-16  px-4">
  <div class="grid gap-4">
      <div>
          <img class="h-auto md:max-w-40 lg:max-w-52 rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
      </div>
      <div>
          <img class="h-auto md:max-w-40 lg:max-w-52 rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
      </div>
      <div>
          <img class="h-auto md:max-w-40 lg:max-w-52 rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
      </div>
  </div>
  <div class="grid gap-4">
      <div>
          <img class="h-auto md:max-w-40  lg:max-w-52 rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
      </div>
      <div>
          <img class="h-auto md:max-w-40 lg:max-w-52 rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg" alt="">
      </div>
      <div>
          <img class="h-auto md:max-w-40 lg:max-w-52 rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="">
      </div>
  </div>

  <div class="w-96">
    <h2 class="text-4xl font-semibold tracking-tight text-zinc-900">Ponte en contacto con nosotros</h2>
    <p class="mt-4 text-lg text-gray-500">Envianos tus preguntas o dudas, responderemos lo más breve posible</p>
    <div class="mt-6 flex flex-col max-w-md gap-x-4">
      <label for="name" class="sr-only">Su nombre</label>
      <input id="name" name="name" type="text" autocomplete="none" required class="min-w-0 bg-slate-200 flex-auto rounded-md bg-white/5 px-3.5 py-2 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" placeholder="Escriba su nombre">
      <label for="email-address" class="sr-only">Email address</label>
      <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 bg-slate-200 flex-auto rounded-md bg-white/5 px-3.5 py-2 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" placeholder="Escriba su email">

      <button type="submit" class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Subscribe</button>
    </div>
  </div>
</div>









<app-footer></app-footer>
