

.logo1{

  opacity: 0;
  animation-name: aparecer;
  animation-duration: 3s; /* Duración de la animación */
  animation-timing-function: ease-in;
}


@keyframes aparecer{

  from {

    filter:drop-shadow(1px 4px 13px rgb(250, 2, 188));
    opacity: 0;

  }
  to {
    opacity: 0.8;

  }


}



