@defer (on interaction; on timer(4s)) {

<div class="absolute w-full">
  <img
    src="https://img.freepik.com/foto-gratis/delicioso-vino-alta-calidad-bodegon_23-2149710865.jpg?t=st=1734801485~exp=1734805085~hmac=a7c082bd102be7cc14028c7c0851f177930b9cd01a8422a815789118a574894e&w=826"
    class="w-full h-72 object-cover opacity-40">
</div>

<div class="relative flex flex-row justify-center justify-items-center w-10/12 m-auto ">
  <img src="marron.png" class="w-60 h-60 object-contain ">

</div>
<!--<app-search-bar></app-search-bar>-->
<app-intro-section1></app-intro-section1>
<app-footer></app-footer>



} @placeholder {
<div class="absolute flex flex-col justify-items-stretch w-full h-full bg-zinc-100">

  <div class="relative flex flex-row justify-center justify-items-center w-10/12 m-auto ">
    <img src="marron.png" class="w-60 h-60 object-contain logo1 ">


  </div>

  <div class="relative w-full h-full ">
    <mat-progress-bar mode="indeterminate" class="items-center">Cargando</mat-progress-bar>
    <p class="text-fuchsia-800  text-sm text-center font-extralight ">Bienvenido a nuestra base de datos...</p>
  </div>

</div>
}
