<div class="absolute w-full">
  <img src="vinedos-california-santa-barbara_181624-7592.jpg" class="w-full h-64 object-cover ">
</div>

  @defer (on interaction; on timer(1.5s)) {
    <div class="absolute w-full">
      <img src="vinedos-california-santa-barbara_181624-7592.jpg" class="w-full h-64 object-cover ">
    </div>

    <div class="relative flex flex-row justify-center justify-items-center w-10/12 m-auto p-2">
        <img src="logoremove.png" class="w-72 items-center logo">

  </div>
  <app-search-bar></app-search-bar>
    } @placeholder {
      <div class="relative">
        <mat-progress-bar mode="indeterminate">Cargando</mat-progress-bar>
        <p class="text-red-800 bg-neutral-700text-sm text-center font-extralight ">Bienvenido a nuestra base de datos...</p>
       </div>
    }













