
<div class="fondo">
  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-7 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl md:grid-cols-1 lg:grid-cols-2 lg:px-7 " data-aos="fade-up" >
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-pantone-17-mocha sm:text-4xl">Explore the Wine Universe at The Holy Wine</h2>
      <p class="mt-4 text-gray-500">Dive into a unique oenological experience. Our encyclopedia houses over 10,000 exclusive wines, carefully selected to inspire you in every glass.
      </p>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-9 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-7 ">
        <div class="border-t border-pantone-17-cobblestone bg-gradient-to-l from-pantone-17-gardenia to-white rounded-md pt-3  p-3 ">
          <dt class="pantone font-medium text-xl text-bruised">On our page, you can</dt>
          <dd class="mt-2 text-sm text-gray-500">Immerse yourself in a unique oenological experience.</dd>
        </div>
        <div class="border-t border-pantone-17-cobblestone bg-gradient-to-l from-pantone-17-gardenia to-white rounded-md pt-3 p-2">
          <dt class="font-medium pantone text-xl">We have over 10,000 entries.</dt>
          <dd class="mt-2 text-sm text-gray-500">Our encyclopedia houses over 10,000 exclusive wines, carefully selected to inspire you in every glass.
          </dd>
        </div>
        <div class="border-t border-pantone-17-cobblestone bg-gradient-to-l from-pantone-17-gardenia to-white rounded-md pt-3  p-2  ">
          <dt class="font-medium text-gray-800 text-xl text-bruised">Search by wine</dt>
          <dd class="mt-2 text-sm text-gray-500">Find exactly what you need, whether by name, region, or type. </dd>
        </div>
        <div class="border-t  border-pantone-17-cobblestone bg-gradient-to-l from-pantone-17-gardenia to-white rounded-md pt-3  p-2 ">
          <dt class="font-medium text-gray-800 text-xl text-bruised">Discover unique treasures:</dt>
          <dd class="mt-2 text-sm text-gray-500">If you're not looking for anything in particular, let the magic flow as our collection unfolds little by little. Browse at your own pace and discover unique labels with stories to tell</dd>
        </div>
        <div class="border-t  border-pantone-17-cobblestone bg-gradient-to-l from-pantone-17-gardenia to-white rounded-md pt-43 p-2 ">
          <dt class="font-medium text-gray-800 text-xl text-bruised">Each grape variety tells a unique story.</dt>
          <dd class="mt-2 text-sm text-gray-500">In The Holy Wine, we guide you through the characteristics that make them special.</dd>
        </div>
        <div class="border-t border-pantone-17-cobblestone bg-gradient-to-l from-pantone-17-gardenia to-white  rounded-md pt-3  p-2">
          <dt class="font-medium text-gray-800 text-xl text-bruised">Meet our wine tasters.</dt>
          <dd class="mt-2 text-sm text-gray-500">Behind every great wine, there is a story, and it is the wine tasters who decode it. <br> Also known as wine tasters, these experts use <br> their senses to analyze and evaluate the character, quality, and personality of each bottle.</dd>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8 "
    data-aos="fade-up"
   >
      <img src="https://img.freepik.com/foto-gratis/bodegon-jarra-vino-mesa_23-2149631765.jpg?t=st=1734800552~exp=1734804152~hmac=6d5308a0b064377a153a6c6f56f738e1c603ee3b37830298ce0abed90e8173f5&w=360" class="rounded-lg bg-gray-100"  data-aos="fade-up">
      <img src="https://img.freepik.com/foto-gratis/comida-celebrar-dia-mundial-tapas_23-2149361452.jpg?t=st=1734800726~exp=1734804326~hmac=b299ccc73d2861299ad1b65d647a7d01cc315a3b53a9d86e1cc4957d11e70752&w=360" alt="Top down view of walnut card tray with embedded magnets and card groove." class="rounded-lg bg-gray-100" data-aos="fade-up" >
      <img src="https://img.freepik.com/foto-gratis/vista-lateral-hombre-degustando-vino-anejo_23-2149428792.jpg?uid=R128113173&ga=GA1.1.911909887.1729527996&semt=ais_tags_boosted" alt="Side of walnut card tray with card groove and recessed card area." class="rounded-lg bg-gray-100" data-aos="fade-up">
      <img src="https://img.freepik.com/foto-gratis/mujer-disfrutando-copa-vino-tinto_23-2149003950.jpg?t=st=1734800920~exp=1734804520~hmac=cc1c48f8a641247e8b8445648d199a04f069ec600f5a914462a8380ef97b538b&w=360" alt="Walnut card tray filled with cards and card angled in dedicated groove." class="rounded-lg bg-gray-100" data-aos="fade-up" >
    </div>
  </div>
</div>

