
<div class="bg-slate-50">
  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8 ">
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Explora el Universo del Vino en The Holy Wine </h2>
      <p class="mt-4 text-gray-500">Sumérgete en una experiencia única enológica. Nuestra enciclopedia alberga más de 10,000 vinos exclusivos, cuidadosamente seleccionados para inspirarte en cada copa.
      </p>


      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8 ">
        <div class="border-t border-fuchsia-400 rounded-md pt-4 bg-gradient-to-r from-white to-fuchsia-50 p-2 ">
          <dt class="font-medium text-xl text-gray-900">En nuestra página puedes</dt>
          <dd class="mt-2 text-sm text-gray-500">Sumergirte en una experiencia única enológica.</dd>
        </div>
        <div class="border-t border-fuchsia-400 rounded-md pt-4 bg-gradient-to-l from-white to-fuchsia-100  p-2">
          <dt class="font-medium text-gray-900 text-xl">Tenemos más de 10.000 registros </dt>
          <dd class="mt-2 text-sm text-gray-500">Nuestra enciclopedia alberga más de 10,000 vinos exclusivos, cuidadosamente seleccionados para inspirarte en cada copa.
          </dd>
        </div>
        <div class="border-t border-fuchsia-400 rounded-md pt-4 bg-gradient-to-r from-white to-fuchsia-100  p-2">
          <dt class="font-medium text-gray-900 text-xl">Hacer una búsqueda por vino</dt>
          <dd class="mt-2 text-sm text-gray-500">Encuentra exactamente lo que necesitas,ya sea por nombre, región, o tipo. </dd>
        </div>
        <div class="border-t border-fuchsia-400 rounded-md pt-4 bg-gradient-to-l from-white to-fuchsia-50  p-2 ">
          <dt class="font-medium text-gray-900 text-xl">Descubrir tesoros únicos:</dt>
          <dd class="mt-2 text-sm text-gray-500">Si no buscas nada en particular, deja que la magia fluya mientras nuestra colección se despliega poco a poco.Navega sin prisa y descubre etiquetas únicas con historias que contar</dd>
        </div>
        <div class="border-t border-fuchsia-400 rounded-md pt-4 bg-gradient-to-r from-white to-fuchsia-50  p-2 ">
          <dt class="font-medium text-gray-900 text-xl">Cada variedad de uva cuenta una historia única</dt>
          <dd class="mt-2 text-sm text-gray-500">En The Holy Wine, te guiamos a través de las características que las hacen especiales</dd>
        </div>
        <div class="border-t border-fuchsia-400 rounded-md pt-4 bg-gradient-to-l from-white to-fuchsia-100  p-2">
          <dt class="font-medium text-gray-900">Conoce nuestros catadores de vino</dt>
          <dd class="mt-2 text-sm text-gray-500">Detrás de cada gran vino hay una historia, y son los catadores de vino quienes la descifran. <br>También conocidos como wine tasters, estos expertos utilizan<br> sus sentidos para analizar y evaluar el carácter,la calidad y la personalidad de cada botella</dd>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img src="https://img.freepik.com/foto-gratis/vista-frontal-botellas-vino-fila_23-2148243131.jpg?t=st=1734388387~exp=1734391987~hmac=b37e7e3786015fb039ed17a0867040eef574c1dc2a807c5d40765b8c2aa5373a&w=360" class="rounded-lg bg-gray-100">
      <img src="https://img.freepik.com/foto-gratis/hombre-abriendo-botella-alcohol-abrelatas_23-2147828270.jpg?uid=R128113173&ga=GA1.1.911909887.1729527996&semt=ais_tags_boosted" alt="Top down view of walnut card tray with embedded magnets and card groove." class="rounded-lg bg-gray-100">
      <img src="https://img.freepik.com/foto-gratis/vista-lateral-hombre-degustando-vino-anejo_23-2149428792.jpg?uid=R128113173&ga=GA1.1.911909887.1729527996&semt=ais_tags_boosted" alt="Side of walnut card tray with card groove and recessed card area." class="rounded-lg bg-gray-100">
      <img src="https://img.freepik.com/foto-gratis/retrato-barman-sosteniendo-botella-vino_107420-65379.jpg?t=st=1734388672~exp=1734392272~hmac=a9ee824c5a53ac433482f3e09832e77c14b891b89bebffc94a2b22007b7c13eb&w=360" alt="Walnut card tray filled with cards and card angled in dedicated groove." class="rounded-lg bg-gray-100">
    </div>
  </div>
</div>
<app-footer></app-footer>
