<div class="flex flex-col md:flex-row  lg:flex-rowjustify-center items-center mt-20 h-auto p-3 bg-slate-300 opacity-70 rounded-md">
<p class="text-2xl text-center font-extrabold  w-7/12 h-40 p-3 items-center mt-5">Explora el Universo del Vino en The Holy Wine</p>
<p class="text-xl text-center p-3">
  Sumérgete en una experiencia única enológica. Nuestra enciclopedia alberga más de 10,000 vinos exclusivos, cuidadosamente seleccionados para inspirarte en cada copa.
</p>
</div>


<div class="flex flex-col justify-center items-center mt-5 bg-slate-100 p-7">
  <p class="text-2xl text-center font-bold mb-5">En nuestra página puedes:</p>
  <p class="text-center mb-2 text-xl">
    Sumérgete en una experiencia única enológica. Nuestra enciclopedia alberga más de 10,000 vinos exclusivos, cuidadosamente seleccionados para inspirarte en cada copa.
  </p>

  <div class="flex flex-col md:flex-row lg:flex-row flex-wrap justify-center gap-5 mt-2">

    <div class="card-search w-60 flex flex-col justify-items-center justify-center bg-white rounded-lg p-1">
    <span class="text-center"> Buscar por vino</span>
    <span class="text-center text-xl p-1"><mat-icon class="text-white bg-rose-800 text-lg rounded-sm">search</mat-icon></span>

    <p class="text-sm text-center">Encuentra exactamente lo que necesitas,<br> ya sea por nombre, región, o tipo.</p>

    </div>

    <div class="card-treasures w-60 flex flex-col justify-items-center justify-center bg-white rounded-lg p-1">
      <h1 class="text-center">Descubrir tesoros únicos:</h1>
      <span class="text-center text-xl p-1"><mat-icon class="bg-rose-800 text-lg text-white rounded-sm">wine_bar</mat-icon></span>
      <p class="text-sm text-center">Si no buscas nada en particular, deja que la magia fluya <br> mientras nuestra colección se despliega poco a poco.<br> Navega sin prisa y descubre etiquetas únicas con historias que contar</p>

  </div>


  <div class="card-varietyWines w-60 flex flex-col justify-items-center justify-center bg-white rounded-lg p-1">
    <h1 class="text-center">Descubra todas las variedades de Uva  y sus particularidades</h1>
    <span class="text-center text-xl p-1"><mat-icon class="bg-rose-800 text-lg text-white rounded-sm">info</mat-icon></span>

    <p class="text-sm text-center">Cada variedad de uva cuenta una historia única. En The Holy Wine, <br>te guiamos a través de las características que las hacen especiales</p>
</div>

<div class="card-wineTaster w-60 flex flex-col justify-items-center justify-center bg-white rounded-lg p-1">
  <h1 class="text-center">Conoce nuestros catadores de vino</h1>
  <span class="text-center text-xl p-1"><mat-icon class="bg-rose-800 text-lg text-white rounded-sm">group</mat-icon></span>
  <p class="text-sm text-center">Detrás de cada gran vino hay una historia, y son los catadores de vino quienes la descifran. <br>También conocidos como wine tasters, estos expertos utilizan<br> sus sentidos para analizar y evaluar el carácter,la calidad y la personalidad de cada botella.</p>

</div>
</div>
